## 建立DataFrame物件

#### 用cloumns更改欄位

In [4]:
import pandas as pd

fruits = {
    "蘋果": [1, 5, 3, 0],
    "香蕉": [3, 2, 2, 8],
    "西瓜": [4, 1, 1, 5]
    }

df = pd.DataFrame(fruits)
print(df)

   蘋果  香蕉  西瓜
0   1   3   4
1   5   2   1
2   3   2   1
3   0   8   5

In [12]:
cities = ["桃園", "台中", "彰化", "宜蘭"]
df = pd.DataFrame(fruits, index=cities)
print(df)

df.columns = ["banana", "apple", "watermelon"]
cities[2] = "新北"
df.index = cities
print(df)

    蘋果  香蕉  西瓜
桃園   1   3   4
台中   5   2   1
彰化   3   2   1
宜蘭   0   8   5
    banana  apple  watermelon
桃園       1      3           4
台中       5      2           1
新北       3      2           1
宜蘭       0      8           5

## 轉置: T

In [17]:
df.T

            桃園  台中  新北  宜蘭
banana       1   5   3   0
apple        3   2   2   8
watermelon   4   1   1   5

## 匯入及匯出DataFrame物件

#### df.to_csv(filename)
#### df.to_excel(filename)
#### df.to_html(filename)
#### df.to_json(filename)
#### 讀取就改成read

## 取資料
#### head、tail: 預設5筆

## index、columns、values: 索引、欄位、資料
#### df.index()
#### df.columns()
#### df.values()

## 走訪DataFrame: iterrows()
#### DataFrame物件每一列都是一筆資料，可以用for搭配iterrows()方法，走訪每一筆資料

In [10]:
fruits = {
    "蘋果": [1, 5, 3, 0],
    "香蕉": [3, 2, 2, 8],
    "西瓜": [4, 1, 1, 5]
    }

df = pd.DataFrame(fruits)

for index, row in df.iterrows():
    print(index, row["蘋果"], row["香蕉"], row["西瓜"])

0 1 3 4
1 5 2 1
2 3 2 1
3 0 8 5